@model IEnumerable<code_web_banhang.Models.HangHoa>

@{
    ViewBag.Title = "Sản Phẩm";
    Layout = "~/Views/Shared/_SpLayout.cshtml";
}
@{
    string iconClass = "";
    if (ViewBag.IconClass == "fa-sort-desc")
    {
        iconClass = "fa-sort-asc";
    }
    else
    {
        iconClass = "fa-sort-desc";

    }
}
<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Phân loại</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                @Html.Action("Loai", "Home")
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__sidebar__search">
                                @Html.Partial("_Search")
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <a href="/Sanpham/ShowSpAll?SortColumn=DonGia&IconClass=@iconClass&page=1">Sắp xếp theo</a>
                                @if (ViewBag.SortColumn == "DonGia")
                                {
                                    <i class="fa @ViewBag.IconClass"></i>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var p in Model)
                    {
                        <div class="col-lg-4 ">
                            <div class="product__item">
                                <div class="">
                                    <a href="@Url.Action("Details", "Sanpham", new {@id = p.MaHH}, null)">
                                        <img src="~/images/@p.Hinh" id="img_giua" alt="...">
                                    </a>
                                </div>
                                <div class="product__item__text">
                                    <h6>@p.TenHH</h6>
                                    <a href="@Url.Action("ThemGioHang", "Cart", new { idAo = p.MaHH, strURL = Request.Url.ToString() })" class="add-cart">+ Thêm vào giỏ hàng</a>
                                    <h5>@String.Format("{0:0,0 VNĐ}", p.DonGia)</h5>
                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <tr>
        <td colspan="9">
            @{
                int PrevPage = ViewBag.Page - 1;
                if (PrevPage <= 0)
                {
                    PrevPage = 1;
                }
                int NextPage = ViewBag.Page + 1;
                if (NextPage > ViewBag.NoOfPages)
                {
                    NextPage = ViewBag.NoOfPages;
                }
            }
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="/Sanpham/ShowSpAll?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@PrevPage)">
                        Prev
                    </a>
                </li>
                @for (int i = 0; i < ViewBag.NoOfPage; i++)
                {
                    if (i + 1 == ViewBag.Page)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="/Sanpham/ShowSpAll?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@(i+1)">
                                @(i+1)
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Sanpham/ShowSpAll?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@(i+1)">
                                @(i+1)
                            </a>
                        </li>
                    }
                }
                <li class="page-item active">
                    <a class="page-link" href="/Sanpham/ShowSpAll?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@NextPage">
                        Next
                    </a>
                </li>
            </ul>
        </td>
    </tr>
</section>
<!-- Shop Section End -->

