<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashion">
    <meta name="keywords" content="Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>

    <!-- Google Font -->
    <link href='//fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap' rel='stylesheet' type='text/css'  media='all'  />

    <!-- Css Styles -->
    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/styse_Miu.css" type="text/css">
    <link rel="stylesheet" href="~/Content/font-awesome.css" />




</head>

<body>


    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="@Url.Action("FormLogin", "Login")">Đăng nhập</a>
                <a href="#">FAQs</a>
            </div>
        </div>
        <div class="offcanvas__nav__option">

            <a href="@Url.Action("Index", "Cart")">
                @Html.Action("GiohangPartial", "Cart", null)
            </a>
            @Html.Partial("_Search")
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Chào mừng bạn đến với chúng tôi!</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header" style=" position: fixed; z-index:10; width: 100%">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="#"><img class="head_logo" src="~/images/anh/logo.png" width: "75" height="75" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class=""><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                            <li>
                                @Html.ActionLink("Sản phẩm", "ShowSpAll", "Sanpham")
                                <ul class="dropdown">
                                    @Html.Action("Loai", "Home")
                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("Info", "Home")">Giới thiệu</a>
                            </li>

                            <li><a href="@Url.Action("Contacts", "Home")">Liên hệ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="@Url.Action("FormLogin", "Login")">Đăng nhập</a>
                        <a href="@Url.Action("Index", "Cart")">
                            @Html.Action("GiohangPartial", "Cart", null)
                        </a>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>


    <!-- Banner Section Begin -->
    <section class="banner spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-4">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="~/images/banner/banner-1.jpg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Bộ sưu tập thời trang 2030</h2>
                            <a href="@Url.Action("ShowSpAll", "Sanpham")">Mua ngay</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner__item banner__item--middle">
                        <div class="banner__item__pic">
                            <img src="~/images/banner/banner-2.jpg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Phụ kiện</h2>
                            <a href="@Url.Action("ShowSpAll", "Sanpham")">Mua ngay</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner__item banner__item--last">
                        <div class="banner__item__pic">
                            <img src="~/images/banner/banner-3.jpg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Giày mùa xuân 2030</h2>
                            <a href="@Url.Action("ShowSpAll", "Sanpham")">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->
    <!-- Header Section End -->
    <div class="container">

        <div style="height:100px"> </div>
        @RenderBody()

    </div>


    <!-- Latest Blog Section End -->
    <!-- Footer Section Begin -->
    <footer class="container-fluid" style="background-color: #FAF0E6">
        <div class="row">
            
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 footer-col col2">
                <h3 class="footer-open-close2">Hệ thống cửa hàng <i class="hidden-lg hidden-md hidden-sm fa fa-angle-down"></i></h3>
                <div class="footer-show-2">
                    <table class="fix-table-contact">
                        <tr>
                            <td style="width: 20px;"><i class="fa fa-map-marker"></i></td>
                            <td>
                                <b>Chi Nhánh Hồ Chí Minh</b><br>
                                <b>Quận 10</b> - 561 Sư Vạn Hạnh, Phường 13.<br>
                                <b>Quận Tân Bình</b> - 136 Nguyễn Hồng Đào, Phường 14.<br>

                                <b>Quận 1</b> - The New Playground 26 Lý Tự Trọng, Phường Bến Nghé.<br>

                                <b>Quận 1</b> - Central Market 4 Phạm Ngũ Lão, Phường Phạm Ngũ Lão.
                                <br>
                                <b>Quận Gò Vấp</b> - 41 Quang Trung, Phường 3.<br>

                            </td>
                        </tr>

                        <tr>
                            <td><i class="fa fa-map-marker"></i></td>
                            <td>
                                <b>Chi Nhánh Biên Hòa:</b><br>
                                <b>TP. Biên Hòa </b> - 151A Phan Trung, Phường Tân Mai.
                                </b>
                            </td>
                        </tr>


                        <tr>
                            <td><i class="fa fa-map-marker"></i></td>
                            <td>
                                <b>
                                    Chi Nhánh Bình Dương:
                                </b><br>
                                <b>TP. Thủ Dầu Một</b> - 28 Yersin, Phường Hiệp Thành.
                            </td>
                        </tr>


                        <tr>
                            <td><i class="fa fa-map-marker"></i></td>
                            <td>
                                <b>
                                    Chi Nhánh Cần Thơ:
                                </b><br>
                                <b>Quận Ninh Kiều</b> - 52 Mậu Thân, Phường An Phú.
                            </td>
                        </tr>



                        <tr>
                            <td><i class="fa fa-phone"></i></td>
                            <td><a href="tel:123456">123 456</a> - <a href="tel:1900111">1900111</a></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-envelope"></i></td>
                            <td><a href="/cdn-cgi/l/email-protection#6b08181f0e0a060f08182b0c060a020745080406"><span class="__cf_email__" data-cfemail="debdadaabbbfb3babdad9eb9b3bfb7b2f0bdb1b3">[email&#160;protected]</span></a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-col col3">
                <h3 class="footer-open-close3">Giới thiệu <i class="hidden-lg hidden-md hidden-sm fa fa-angle-down"></i></h3>
                <div class="footer-show-3">
                    <ul class="footer-social">
                        <li>
                            <a target="_blank" href="#">Năm thành lập</a>
                        </li>
                        <li>
                           <a target="_blank" href="#">Dự án tiêu biểu</a>
                        </li>
                    </ul>

                </div>
                <h3 class="footer-open-close5">Chính sách <i class="hidden-lg hidden-md hidden-sm fa fa-angle-down"></i></h3>
                <div class="footer-show-5">
                    <ul class="footer-policy">

                        <li>
                            <a target="_blank" href="#">
                                Chính sách bảo mật
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="#">
                                FAQ
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="#">
                                Chính sách Thẻ Thành viên
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="#">
                                Chính sách Bảo hành & Đổi trả
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-col col4">
                <h3 class="footer-open-close4">Fanpage <i class="hidden-lg hidden-md hidden-sm fa fa-angle-down"></i></h3>
                <div class="footer-show-4">
                    <div class="footer-static-content">
                        <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=100079475659721" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">	</div>
                    </div>
                    <div style="clear:both;"></div>
                    <!-- #Facebook widget -->
                    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                    <script>
                        (function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=263266547210244&version=v2.0";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                    </script>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!--Back Top  -->
    <style>
        #backTop {
            width: 40px;
            height: 40px;
            background: #ffffff;
            color: #000000;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: solid 1px;
            position: fixed;
            bottom: 40px;
            right: 20px;
            cursor: pointer;
        }
    </style>

    <div id="backTop">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </div>

    <!-- Search End -->
    <!-- Js Plugins -->


    <script src="~/Content/js/jquery-3.6.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/js/jquery.nicescroll.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/jquery.countdown.min.js"></script>
    <script src="~/Content/js/jquery.slicknav.js"></script>
    <script src="~/Content/js/mixitup.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/main.js"></script>



</body>

</html>
<script>
    jQuery(function ($) {
        $(document).ready(function () {

            $(window).scroll(function () {
                if ($(this).scrollTop()) {
                    $('#backTop').fadeIn();
                } else {
                    $('#backTop').fadeOut();
                }
            });
            $("#backTop").click(function () {
                $('html, body').animate({
                    scrollTop: 0
                }, 500);
            });
        });
    });
</script>
